:root {
	--color-primary: #D5357F;
	--color-secundary: #851E66;
	--color-text: #F1EEEC;
	--bg-dark: #2F1539;
	--color-lila: #866FB4;
	--color-succes: #758a5e;
	--color-warning: #f27a26;
	--color-danger:	#f44336;	



}

/*     General Styles     */
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	background-color: var(--bg-dark);
	font-family: 'Raleway', sans-serif;
}
html {
	scroll-behavior: smooth;
}

/* Navbar | header*/


.header-fixed {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: var(--color-primary);
    box-shadow: 1px 1px 4px 1px rgba(1,0,0,.1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-text);
    line-height: 60px;
}

.navbar .logo {
    flex: 3; 
}

.navbar .logo a {
    display: block;
    font-size: 30px;
    font-weight: bold;
    color: var(--color-text);
    text-decoration: none;
}
.navbar .logo a:hover {
	color: var(--color-secundary);
}

.navbar nav {
    flex: 8;
}

.navbar label {
	user-select: none;
	cursor: pointer;
	padding: 28px 20px;
	position: relative;
	z-index: 3;
}

.navbar label i {
	height: 2px;
	position: relative;
	transition: background .2s ease-out;
	width: 18px;
	font-style: normal;
	font-weight: normal;
}
.navbar label i:before,
.navbar label i:after {
	content: '';
	height: 100%;
	position: absolute;
	transition: all .2s ease-out;
	width: 100%;
}
.navbar label i,
.navbar label i:before,
.navbar label i:after {
	display: block;
	background: #eee;  
}
.navbar label i:before {
	top: 5px;
}
.navbar label i:after {
	top: -5px;
}

.navbar #navbar-toggle {
	display: none;
}

.header #navbar-toggle:checked ~ .menu {
	visibility: visible;
	opacity: 0.99;
}
.header #navbar-toggle:checked ~ label {
	background: var(--color-primary);
	border-radius: 50%;    
}
.header #navbar-toggle:checked ~ label i {
	background: transparent;
}
.header #navbar-toggle:checked ~ label i:before {
	transform: rotate(-45deg);
}
.header #navbar-toggle:checked ~ label i:after {
	transform: rotate(45deg);
}
.header #navbar-toggle:checked ~ label:not(.steps) i:before,
.header #navbar-toggle:checked ~ label:not(.steps) i:after {
	top: 0;
}

	/*  hero img */
	.home {
		text-align: center;
	}
	.home a {
		text-decoration: none;
	}
	.home h1 {
		color: var(--color-text);
		font-size: xx-large;
	}
	.home p {
		color: var(--color-text);
		font-size: x-large;
	}
	.home span {
		color: var(--color-secundary);
		font-weight: bold;
	}
	.hero-img {
		width: 70%;
		margin: 5rem auto 0 auto;
	}
	.hero-img img{
		width: 100%;
	}
	.locale {
		text-align: center;
	}
	.bi-geo {
		font-size: x-large;
		color: var(--color-secundary);
		margin-top: 2rem;
	}
	.locale span {
		font-size: large;
		font-weight: 400;
		margin-top: 1rem;
		color: var(--color-text);
		margin-left: 1rem;
	}

/* proyects */
	#portfolio-flters li {
    display: inline-block;
    font-weight: 500;
    color: var(--color-text);
    cursor: pointer;
    transition: .5s;
    border-bottom: 2px solid transparent;
	
}
.proyects {
	margin-top: 5rem;
	zoom: 75%;
}
.proyects h1 {
	color: var(--color-text);
}
.proyects h5{
	color: var(--color-text);
}
.proyects p {
	color: var(--color-secundary);
}
#portfolio-flters li:hover,
#portfolio-flters li.active {
    color: var(--color-secundary);
    border-color: var(--color-secundary);
}


.portfolio-item img {
    transition: .5s;
    border-radius: 10px 10px 0px 0px;

}

.portfolio-item:hover img {
    transform: scale(1.1);
}

.portfolio-item .portfolio-overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0;
    height: 0;
    bottom: 0;
    left: 50%;
    background: rgba(60, 60, 60, .5);
    transition: .5s;

}

.portfolio-item:hover .portfolio-overlay {
    width: 100%;
    height: 100%;
    left: 0;
}

.portfolio-item .portfolio-overlay .btn {
    opacity: 0;
}

.portfolio-item:hover .portfolio-overlay .btn {
    opacity: 1;
}



/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

/* social link*/
.sociallinks {
	text-align: center;
}
.sociallinks i{
	margin-left: 1em;
	font-size: 300%;
	font-weight: bold;
    margin: 10px ;
	color: var(--color-primary);

}
/********/
.sociallinks {
    margin-top: 4em;
    padding: 24px;
}

.sociallinks a {
    text-decoration: none;
    padding: 10px;
    transition: 1s ease-out;
}

.sociallinks a:hover {
    padding: 10px;
    color: var(--color-secundary);
    transition: 1s ease;
}

.external__link, .email {
    display: inline-block;
    border-radius: 0 ;
    text-decoration: none;
    transition: all 0.2s;
	color: var(--color-primary);
}

.external__link:hover, .email:hover {
    display: inline-block;
    border-bottom: 1px solid transparent;
    transition: all 0.2s;
    border-radius: 0 ;
    text-decoration: none;

}

.contacto {
	text-align: center;
	margin: auto;
	color: var(--color-text);
}

.lead {
    font-weight: 400t;
}

.bi-envelope {
	color: var(--color-primary);
	font-size: x-large;
}
/* tecnologias */
.tecnology {
	margin-top: 5rem;
	text-align: center;
}

.tecnology h2{
	color: var(--color-text);
	margin-bottom: 2rem;
}

ul {
	list-style: none;
}
.skills-list li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 40px;
	color: var(--color-text);
	text-align: left;
	margin-left: 12rem;
}
li {
    display: list-item;
}
.skills-list li::before {
    content: "▹";
	color: var(--color-primary);
    position: absolute;
    left:  0rem;
    font-size: x-large;
    line-height: 12px;
}
.skills-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 0px 10px;
    padding: 0px;
    margin: 20px 0px 0px;
    overflow: hidden;
    list-style: none;
}

@media only screen and (max-width: 768px) {
    .navbar nav {
		visibility: hidden;
		opacity: 0;
		z-index: 2;
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		transition: all 0.3s ease-out;
		display: table;
		background: var(--color-primary);
    }
    .navbar nav ul {
		margin: 0;
		padding: 20px 0;
		display: table-cell;
		vertical-align: middle;
    }
    .navbar nav li {
		display: block;
		text-align: center;
		padding: 20px 0;
		text-align: center;
		font-size: 50px;
		min-height: 50px;
		font-weight: bold;
		cursor: pointer;
		transition: all 0.3s ease-out;
    }
    .navbar nav li:hover {
		background: var(--color-secundary);
    }
    .navbar nav li:hover a {
		color: var(--color-text);
		transition: all 0.3s ease-out;
    }
    .navbar nav li a {
	color: var(--color-text);
    }

}
@media only screen and (max-width: 570px) {
	/*tecnology*/

	.skills-list {
    display: flex;
    flex-direction: column;
	margin-right: 2rem;
    overflow: hidden;
    list-style: none;
	}
	.skills-list li {
    position: relative;
    margin-bottom: 10px;
	color: var(--color-text);
	margin-left: 2rem;
}
}





@media only screen and (min-width: 768px) {
	/* navbar */
    .navbar nav ul {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-around;
      text-align: center;
      list-style: none;
    }
    .navbar nav li {
      flex: 1;
    }
    .navbar nav li a {
      display: block;
      padding: 0 8px;
      font-size: 16px;
	  font-weight: bold;
      line-height: 60px;
      color: var(--color-text);
      text-decoration: none;
    }
    .navbar nav li.active {
      background: var(--color-succes);  
    }
    .navbar nav li:hover {
      background: var(--color-secundary);
    }
    .navbar label {
      display: none;
    }



	/* hero img */
	.home {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;		
		justify-content: normal;
		align-items: normal;
		align-content: normal;
	}
	.presentacion {
		margin-top: 17rem;
		margin-right: 6rem;
	}
	.locale {
	display: block;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: auto;
	order: 0;
	}
	.hero-img {
	width: 42%;
	margin-top: 6rem;
	display: block;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: auto;
	order: 0;
	}	
		.hero-img img{
		width: 100%;
	}
	/*social links*/
	.sociallinks {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	/*tecnologia*/


}



